.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px, 0;
}

.btn-info {
    width: 100%;
    margin: 10px;
    border: 1px solid;
}

.card-container {
    margin: 90px;
    padding: 90px;
}

#start-btn {
    width: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.message {
    padding-left: 10px;
}
